{% extends "base.html" %}

{% block content %}

<div class="container my-10">

    <div class="flex gap-8 p-6">
        <div class="w-1/4">
            <a href=""><img src="https://168856.lp.tobiz.net/img/0x900/fced1082ab42df4fcc1fdd2a94ecfad9.jpg    " class="w-96"></a>
        </div>
        <div class="w-3/4">
            <div class="text-xl">В нашей библиотеке сделано все для комфорта читателей</div>
            <p class="py-2">Наша миссия - воспитывать всеобщую страсть к чтению, сотрудничая с авторами, чтобы помогать создавать истории и передавать идеи, которые информируют, развлекают и вдохновляют, а также соединяют их с читателями повсюду.</p>
            <p class="py-2">Используя наш глобальный охват, внедряя новые технологии и сотрудничая с авторами на всех этапах процесса публикации, от дизайна и редактирования до продаж и маркетинга, производства и распространения, мы хотим предоставить им максимально возможную платформу.
                В то же время мы яростно защищаем интеллектуальную собственность наших авторов и выступаем за свободу выражения мнений, гарантируя, что их голоса будут слышны за пределами страницы в обществах и сообществах по всему миру.</p>
            <p class="py-2">Наша профессиональная команда профессионалов в области публикаций стремится помочь авторам реализовывать свои лучшие работы и находить новые инновационные способы донести истории и идеи до мировой аудитории.</p>
        </div>
    </div>

</div>

{% endblock %}