<!doctype html>
<html class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/output.css') }}" rel="stylesheet">
</head>
<body class="min-h-screen">
<header>
    <div class="bg-red-100">
        <div class="container">
            <nav class="flex justify-between py-5">
                <a href="{{ url_for('main_page') }}" class="font-bold text-2xl"><img src="" alt="">MyLib</a>
                <ul class="flex gap-10">
                    <li><a href="{{ url_for('get_books') }}" class="text-lg hover:text-blue-800 hover:underline">Новинки</a></li>
                    <li><a href="{{ url_for('get_pop_books') }}" class="text-lg hover:text-blue-800 hover:underline">Популярное</a></li>
                    <li><a href="{{ url_for('get_authors') }}" class="text-lg hover:text-blue-800 hover:underline">Авторы</a></li>
                    <li><a href="{{ url_for('get_genres') }}" class="text-lg hover:text-blue-800 hover:underline">Жанры</a></li>
                    <li><a href="{{ url_for('about_page') }}" class="text-lg hover:text-blue-800 hover:underline">О библиотеке</a></li>
<!--                    <li><a href="" class="text-lg hover:text-blue-800 hover:underline">Новости</a></li>-->
                    <li><a href="{{ url_for('contact_page') }}" class="text-lg hover:text-blue-800 hover:underline">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div >
    {% block content %} {% endblock %}
</div>

<footer class="bg-red-100  sticky top-[100vh]">
    <div class="container">
        <div class="flex justify-between py-6">
            <p class="font-bold text-2xl">MyLib</p>
            <ul class="flex gap-10">
                <li><a href="{{ url_for('get_books') }}" class="text-lg hover:text-blue-800 hover:underline">Новинки</a></li>
                <li><a href="{{ url_for('get_pop_books') }}" class="text-lg hover:text-blue-800 hover:underline">Популярное</a></li>
                <li><a href="{{ url_for('get_authors') }}" class="text-lg hover:text-blue-800 hover:underline">Авторы</a></li>
                <li><a href="{{ url_for('get_genres') }}" class="text-lg hover:text-blue-800 hover:underline">Жанры</a></li>
            </ul>
        </div>
        <div class="flex justify-between py-4">
            <p class="text-light text-xs">Город, улица, дом 1. info@info.com</p>
            <ul class="flex gap-8">
                <li><a href="">
                    <svg class="h-4 w-4 text-light" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/>
                    </svg>
                </a></li>
                <li><a href="">
                    <svg class="h-4 w-4 text-light" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                         stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"/>
                        <path d="M22 4.01c-1 .49-1.98.689-3 .99-1.121-1.265-2.783-1.335-4.38-.737S11.977 6.323 12 8v1c-3.245.083-6.135-1.395-8-4 0 0-4.182 7.433 4 11-1.872 1.247-3.739 2.088-6 2 3.308 1.803 6.913 2.423 10.034 1.517 3.58-1.04 6.522-3.723 7.651-7.742a13.84 13.84 0 0 0 .497 -3.753C20.18 7.773 21.692 5.25 22 4.009z"/>
                    </svg>
                </a></li>
                <li><a href="">
                    <svg class="h-4 w-4 text-light" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"/>
                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/>
                        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"/>
                    </svg>
                </a></li>
                <li><a href="">
                    <svg class="h-4 w-4 text-light" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/>
                        <rect x="2" y="9" width="4" height="12"/>
                        <circle cx="4" cy="4" r="2"/>
                    </svg>
                </a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>