{% extends "base.html" %}

{% block content %}
<div class="container my-10">
    <div class="flex gap-8">
        <div>
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1aa164eddf16224abe6a02193fadc84c06a634f9d13738de46e797ca1f653b5d&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
        </div>

        <div class="text-center py-10" style="background-color: #fcf5ed ">
            <p class="text-base">Мы всегда открыты для сотрудничества. По всем вопросам обращайтесь по адресу <a href="mailto:info@info.com">info@info.com</a></p>
            <div class="py-5"><span style="font-size:17px">Контактная информация:</span>
                <ul>
                    <li>Город, улица, дом 1</li>
                    <li>E-mail: info@info.com</li>
                    <li>Телефон: 8 800 000 00 00 отдела продаж</li>
                    <li>Контактное лицо: Иванов И.И.</li>
                </ul>
            </div>
            <div class="font-bold"><span style="font-size:17px;">Присоединяйтесь к нам в социальных сетях!</span></div>
                <div class="">
                    <ul class="flex gap-8 justify-center py-5">
                    <li><a href="">
                        <svg class="h-4 w-4 text-light"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" /></svg>
                    </a></li>
                    <li><a href="">
                        <svg class="h-4 w-4 text-light"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M22 4.01c-1 .49-1.98.689-3 .99-1.121-1.265-2.783-1.335-4.38-.737S11.977 6.323 12 8v1c-3.245.083-6.135-1.395-8-4 0 0-4.182 7.433 4 11-1.872 1.247-3.739 2.088-6 2 3.308 1.803 6.913 2.423 10.034 1.517 3.58-1.04 6.522-3.723 7.651-7.742a13.84 13.84 0 0 0 .497 -3.753C20.18 7.773 21.692 5.25 22 4.009z" /></svg>
                    </a></li>
                    <li><a href="">
                        <svg class="h-4 w-4 text-light"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" /></svg>
                    </a></li>
                    <li><a href="">
                        <svg class="h-4 w-4 text-light"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />  <rect x="2" y="9" width="4" height="12" />  <circle cx="4" cy="4" r="2" /></svg>
                    </a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}